@import "tailwindcss";

@theme {
    --color-blue-700: rgb(64, 85, 120);
    --color-blue-600: rgb(43, 73, 125);
    --color-blue-500: rgb(52, 105, 198);
    --color-blue-400: rgb(63, 126, 234);
    --color-blue-300: rgb(82, 145, 255);
    --color-blue-200: rgb(228,234,242);

    --color-transparent-100: rgba(254, 254, 254, 0.07);
}
#Navbar {
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
html, body {
  overflow-x: hidden;
}

